<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185754393263-dp4m3j925t1mt56gjehc7qggfbl56dhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185754393263-dp4m3j925t1mt56gjehc7qggfbl56dhf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185754393263-j20skj9r86762ruae4hen4a1t62vaom6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVb5310HvnMJpfo4SP4nZ4Eb9_32ous90</string>
	<key>GCM_SENDER_ID</key>
	<string>185754393263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>technology.focal.focal.dev</string>
	<key>PROJECT_ID</key>
	<string>focal-technology-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>focal-technology-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185754393263:ios:6c3ee7f22b8d891fb3525a</string>
	<key>DATABASE_URL</key>
	<string>https://focal-technology-dev.firebaseio.com</string>
</dict>
</plist>